.netflixHeader{
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .5)) , url(img/netflix_arkaplan_1.jpg);
    background-position: center;
    background-size: cover;
}
.box{
    width: auto;
    height: 10px;
    background-color: rgb(53, 53, 53);
    
}
.container h1{
    font-size: 50px;
}

#button-addon2{
    width: 180px;
}
input::placeholder{
    color: white !important;
}
.MyHeight{
    height: 600px;
}
img{
    width: 150px;
    height: 60px;
}